@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 15px;
	color: #222222;
	line-height: 1.3;
}

header {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

img.logo {
	width: 200px;
	height: 43px;
}

img.portfolio {
	width: 200px;
	height: 200px;
}

section {
/*	background-color: #FFE2B8;*/
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

h2 {
	color: #222222;
	font-style: italic;
}

h4 {
	font-family: Montserrat, Helvetica, sans-serif;
	color: #222222;
}

p {
	font-family: Lora, serif;
}

a {
	font-family: Montserrat, Helvetica, sans-serif;
	color: #630F44;
	text-decoration: none;
}

nav a {
	color: #222222;
	margin-right: 10px;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

ul {
	font-size: 10px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}