* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	color: #222222;
	line-height: 1.3;
}

header {
	background-color: #FF9EC2;
	padding: 20px;
}

h2 {
	color: #222222;
	font-style: italic;
}

a {
	color: #630F44;
	text-decoration: none;
}

nav a {
	color: #222222;
	margin-right: 10px;
}

img {
	width: 100%;
}

main {
	padding: 20px;
}

ul {
	font-size: 10px;
}